/*@font-face {
    font-family: 'Manrope'; 
    src: url('/fonts/Manrope/Manrope-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'ManropeMedium'; 
    src: url('/fonts/Manrope/Manrope-Medium.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'ManropeExtraBold'; 
    src: url('/fonts/Manrope/Manrope-ExtraBold.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Manrope'; 
    src: url('/fonts/Manrope/Manrope-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'ManropeSemiBold'; 
    src: url('/fonts/Manrope/Manrope-SemiBold.ttf');
    font-style: normal;
    font-weight: normal;
}*/
html,body{
    height: 100%;
    font-family: system-ui,arial,tahoma;
}
a{
  text-decoration: none;
  color: #73347a;
}
a:hover{
  color: #c53bd5;
}
*, ::after, ::before {
    box-sizing: border-box;
}
::selection {
    background: #294b5f;
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.text-center {
    text-align: center!important;
}
.text-left{
  text-align: left!important;
}
.hidden{
  display: none !important;
}
.mb-3 {
    margin-bottom: 1rem!important;
}
.mt-6 {
    margin-top: 2rem!important;
}
.mt-3 {
    margin-top: 1rem!important;
}
.mrg-0{
  margin: 0;
}
.main{
    margin-bottom: auto;
}
.footer{
    margin-top: auto;
    color: #fff;
    opacity: 0.5;
    font-size: 0.8rem;
}
.footer .copyright {
    background: #000;
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px;
    padding-bottom: 3px;
    margin-top: 30px;
}


body{
  background-color: #232323;
}

.main-content{
  margin-top: 20px;
}
.main-panel{
  max-width: 500px;
  width: 100%;
  background: #1b1b1b;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 40px;
}
.main-panel.panel-content{
    max-width: 900px !important;
}
.panel-content .title{
    font-size: 1.5rem;
}
h3.title{
  font-size: 1.3rem;
}
.panel-content .panel-info{
    font-size: 0.9rem;
    display: flex;
    gap: 12px;
    color: #757575;
    align-content: center;
    align-items: center;
}
.panel-info .username{
    color:#307e90;
}
.panel-info .username:hover{
    color: #75c8f7;
}
.panel-content .panel-info *{
    font-family: tahoma;
}
.main-panel .title{
    color: #dddddd;
    text-transform: uppercase;
    font-weight: bold;
}

.item-picture .img {
    position: relative;
    overflow: hidden;
    max-height: 70vh;
}
.item-picture .img > img{
    max-height: 70vh !important;
    display: block;
    margin: 0 auto;
    z-index: 2;
    opacity: 1;
    position: relative;
    max-width: 100%;
}
.img .img-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}
.img-back img{
    width: 100%;
    height: auto;
    webkit-filter: blur(15px);
    filter: blur(15px);
}
.item-picture p{
    margin: 0;
    font-size: 0.8rem !important;
    color: #777;
    font-family: arial,tahoma;
    text-align: left;
}
.panel-content p{
  color: #a5a5a5;
  text-align: left;
  font-size: 1.25rem;
}

/* loading */

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/*   */

.download-btn {margin: 35px 0px;position: relative;z-index: 7;}
.download-btn button{
    background: #793e88;
    border: 1px solid #ffffff;
    color: #fff;
    padding: 13px 20px;
    border-radius: 28px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 6px -1px #ebc3f5;
    font-size: 18px;
    text-transform: uppercase;
    font-family: arial,tahoma;

}

.similar-leaks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:11px
}
.leak-item{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    gap:5px;
}
.leak-thumb img{
    width: 100%;
}
.leak-thumb{
    display: flex;
    flex-wrap: nowrap;
}
.leak-title{
  color: #a5a5a5;
}


.header{
  background: #000;
  color: #fff;
  padding:0px 10px;
}
.menu {
  display: flex;
  margin: 10px auto;
  align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 1000px;
}
.right-menu{
  margin-left: auto;
  display: flex;
  gap:11px;
  text-transform: uppercase;
}
.search{
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
}
.search input{
    padding: 7px 14px;
    outline: 0;
    border-radius: 16px;
    border: 1px solid #000;
    background: #232323;
    color: #c1c1c1;
    padding-right: 31px;
    width: 100%;
}
.search input:focus{
    border: 1px solid #3636366b;
}
.search .search-btn{
  position: absolute;
  right: 0;
  margin-right: 7px;
  font-size: 15px;
  background: none;
  border: none;
  color: #757575;
}
.profile-platform{
    max-width: 870px;
    width: 100%;
    margin: auto;
    padding: 6px;
    background: #343434;
    border-radius: 16px;
    padding-bottom: 15px;
}
.profile-info{
    display: flex;
    gap: 16px;
    border-radius: 10px;
    overflow: hidden;
    padding: 27px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-pic img{
    border-radius: 100px;
    outline: 4px solid #232323;
    outline-offset: -2px;
    width: 131px;
    height: 131px;
    object-fit: cover;
}
.profile-info .name,.profile-item .name {
    margin: 0;
    font-size: 1.25em;
    color: #d6dce8;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}
.profile-info .bio {
    font-size: .875em;
    letter-spacing: .03em;
    box-sizing: border-box;
    width: 100%;
    line-height: 1.75em;
    padding-left: 1.25em;
    white-space: pre-wrap;
    word-break: break-word;
    color: #a1adc7;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}
.media{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    justify-content: center;
}
.play-thumb {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.thumb .caption {
    display: flex;
    align-items: center;
    font-weight: 700;
    position: absolute;
    color: #FFF;
    font-size: 0.8rem;
    left: 8px;
}
.video .thumb{

    position: relative;
    width: 100%;
    height: auto;

}
.video img {
    width: 100%;
    display: block;
    max-height: 145px;
    height: 100%;
    object-fit: cover;
}
.media.videos{
  gap:12px;
}
.videos .video{
    width: 100%;
    max-width: 260px;
}
.video .title {
    line-height: 1.6;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    margin-top: 4px;
    font-size: 12px;
    color: var(--color-main);
}
.caption.text-top {
    top: 5px;
}
.caption.text-right {
    right: 8px!important;
    left: auto!important;
}
.caption.text-bottom {
    bottom: 5px;
}
.caption span {
    margin-left: 5px;
}
a.video{
  color:#ccc
}
a.video:hover{
  color:#fff
}
.play.video .player{
  position: absolute;
  overflow: hidden;
  padding-bottom: 56%;
}
.video .player>video{
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
}
.video.play .play-video {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.player.play{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
}
span.size{
    background: #000;
    border: 2px solid #000;
    padding: 0px 3px;
    color: #93d0f2 !important;
}
span.time{
    background: #000;
    padding: 0 4px;
}
.profiles{
    display: flex;
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap !important;
    gap: 12px;
}
.profile-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-item .name{
      font-size: 12px;
}
.profiles::-webkit-scrollbar {
    display: none;
}
.download-panel {text-align: center;}
.download-file {color: #fff;display: flex;gap: 10px;max-width: 342px;flex-direction: row;align-items: center;background: #f06060;padding: 7px 12px;border-radius: 6px;width: 100%;margin: auto;margin-bottom: 14px;border: none;cursor: pointer;}
.download-file:hover{
      background: #ca4040;
}
.download-file .icon {font-size: 48px;}

.download-file .file-info {display: flex;flex-direction: column;max-width: 100%;overflow: hidden;text-align: left;}

.download-file span.filename {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
p.seo-tags {font-size: 12px;color: #7b7a7a;}
.profiles.search{
  flex-wrap: wrap !important;
}
.btn{
    background: #343434;
    padding: 6px 17px;
    color: #a3a3a3;
    border-radius: 20px;
}
.btn.active, .btn:hover{
    background: #4c4c4c;
    color: #cbcaca;
}
.tags {display: flex;flex-wrap: wrap;gap: 6px;}

.tags a {background: #2ca5e0;color: #fff;font-size: 12px;padding: 1px 5px;border-radius: 5px;text-transform: lowercase;font-weight: bold;}
.camiframe{
    width: calc(38vw + 29vw);
    height: 38vw;
    max-height: 450px;
    background: #ccc;
    max-width: 799px;
}
.camuserinfo {color: #a1adc7;font-size: .9rem;text-align: left;}
.caminfo {position: relative;}
.caminfo .splash {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 2;}
.cam .background {min-width: 100%;position: relative;overflow: hidden;max-height: 145px;height: 145px;}
.cam img {width: 400%;
    height: 400%;
    object-fit: unset;
    object-position: 0 0%;
    max-height: fit-content;
    position: absolute;
    top: 0%;
    left: 0%;}
.video-player {position: relative;}

.video-player .pub-down {position: absolute;top: 0;left: 0;z-index: 1;width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;background: #3130308c;}
.abuse .panel-article p,.abuse .panel-article ol{
    margin: 0;
    font-size: 0.8rem;
    color: #777;
    font-family: system-ui,arial,tahoma;
    text-align: left;
}
.abuse .panel-article p,.abuse .panel-article ol{
    margin: 8px;
}
.abuse h2 {
    color: #a5a5a5;
    font-size: 18px;
    font-weight: bold;
}
.highlight {
    color: #75c8f7 !important;
}
.abuse .panel-content h3.title,.abuse h2.title,.abuse h1 {
    color: #a5a5a5;
    font-size: 19px !important;
    text-transform: uppercase;
    font-weight: bold;
}
.cams.search{
  margin: auto;
}
.cams.search input{
  background: #343434;
  border: none;
}

